<div class="site-search">
  <form id="search-form" autocomplete="off" role="search">
    <input class="form-search form-control" name="keyword" placeholder="Search site" />
  </form>
</div>

<div id="search-result">
  <div class="search-keyword">
    <span></span>
  </div>
  <div class="entry-list"></div>
</div>
